<!DOCTYPE HTML>

<html >
<head>
	  <title>Spring Boot - Angularjs Example</title>
	  <meta charset="ISO-8859-1" />
	<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
	  <link rel="stylesheet" href="lib/bootstrap/3.3.5/css/bootstrap.css"></link>
	  <link rel="stylesheet" href="style/style.css"></link>
	  <link rel="stylesheet" 	href="lib/bootstrap/3.3.5/css/bootstrap-theme.css"></link>
	  <link rel="stylesheet" 	href="lib/bootstrap/3.3.5/css/bootstrap-theme.min.css"></link>

	  
	  <script type="text/javascript" src="lib/angular/angular.min.js"></script>
	  <script type="text/javascript" src="lib/angular/angular-route.js"></script>
	  
<script type="text/javascript" src="lib/angular/angular-mocks.js"></script>
<script type="text/javascript" src="lib/angular/angular-route.js"></script>
<script type="text/javascript" src="lib/angular/angular-messages.js"></script>
	  
	  
	  <script src="/js/contact.details.controller.js"></script>
	  <script src="/js/contact.list.controller.js"></script>
	  <script src="/js/navbar.directive.js"></script>
	  <script src="/js/app.js"></script>  
	  
</head>
<body>
	<div class="container-fluid">
<div class="row">

			<div class="col-sm-12">

				<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#">Phone Book</a>
						</div>
						<ul class="nav navbar-nav navbar-center">
							<li><a href="#/contact">Contacts</a></li>
	

						</ul>
					
					</div>
				</nav>


			</div>
		</div>
		<!-- <nav-bar></nav-bar> -->		
		<div class="ng-view"></div>
	</div>

</body>
</html>